*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* CLASSI DI LAYOUT */

.container{
    margin: 0px auto;
    max-width: 1200px;
}

.container-sm{
    margin: 0px auto;
    max-width: 920px;
}

.row{
    width: 100%;
    display: flex;
}

.column-15{
    flex-basis: 15%;
}

.column-17{
    flex-basis: calc(100% / 6);
}

.column-20{
    flex-basis: 20%;
}

.column-30{
    flex-basis: 20%;
}

.column-34{
    flex-basis: calc(100% / 6 * 2 );
}

.column-40{
    flex-basis: 40%;
}

.column-60{
    flex-basis: 60%;
}

.column-70{
    flex-basis: 70%;
}

.column-100{
    flex-basis: 100%;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}
/* FINE CLASSI DI LAYOUT */


/* CLASSI DI UTILITY */



.line-height-3{
    line-height: 3;
}

.height-20{
    height: 20px;
}

.height-40{
    height: 20px;
}

.gap-50{
    gap: 50px;
}

.height-60{
    height: 20px;
}

.height-100{
    height: 100px;
}

.height-200{
    height: 200px;
}

.height-300{
    height: 200px;
}

.height-400{
    height: 400px;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-green{
    background-color: green;
}

.bg-silver{
    background-color: #dddcdc;
}

.bg-gold{
    background-color: gold;
}

.bg-pink{
    background-color: pink;
}

.bg-black{
    background-color: #23272A;
}

.vpadding-2{
    padding: 2px 0px;
}

.vpadding-30{
    padding: 30px 0px;
}

.vmargin-30{
    margin: 30px auto;
}

.orizzontal-margin-50{
    margin: 0px 50px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-white{
    color: white;
}
/* FINE CLASSI DI UTILITY */


header{
    background-color: #255DE9;
    padding: 15px 0px;
}

img{
    display: block;
}

header .links{
    height: 100%;
    padding: 0 100px;
    gap: 40px;
}
header .login{
    height: 100%;
}

header .links > a{
    color: white;
    font-size: 15px;
}
header .links > a:hover{
    cursor: pointer;
}

button{
    padding: 8px 13px;
    border: 0;
    border-radius: 20px;
}

button.black{
    background-color: black;
    color: white;
}
button.white{
    background-color: white;
    color: black;
}
button.blue{
    background-color: #7595e4;
    color: white;
}
/* JUMBO SECTION */
.img-jumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}

.img-jumbo h1{
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 55px;
}

.img-jumbo p{
    line-height: 2em;
    padding-bottom: 10px;
    max-width: 80%;
    margin: 0 auto;
}


h2{
    padding-top: 30px;
    font-size: 45px;
    margin-bottom: 20px;
}

.stars-text{
    font-weight: bold;
    font-size: 20px;
    padding-top: 40px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 30px;
}

img[alt='item4-big']{
    width: 100%;
    padding-bottom: 20px;
}

.footer-top{
    background-color: #23272A;
    color: white;
}

.footer-top h3,
.footer-top h4{
    padding-top: 60px;
    color: #7595e4;
    margin-bottom: 10px;
}

.footer-top h3{
    font-size: 35px;
    margin-bottom: 30px;
}

.footer-top h4{
    font-size: 25px;

}

.footer-top a{
    text-decoration: none;
}

.italiano > img{
    display: inline-block;
    height: 1.5em;
    margin-right: 4px;
}

.italiano > *{
    vertical-align: middle;
}

.social-links{
    margin-top: 20px;
    font-size: 25px;
}

.social-links > a{
    margin-left: 10px;
}


.footer-top .column-17 > a{
    display: block;
    margin-top: 10px;
}

hr{
    margin: 30px 0px;
    border-color: #7595e4;
}

/* CREAZIONE DELLE ONDE */
.onde-container.white{
    width: 100%;
    background-color: white;
}
.onde-container.gray{
    width: 100%;
    background-color: #dddcdc;
}

.onda{
    height: 150px;
    -webkit-mask: url(../img/wave.svg) no-repeat center;
    mask: url(../img/wave.svg) no-repeat center;
}
.onda.gray{
    background-color: #dddcdc;
}
.onda.white{
    background-color: white;
}